body {
background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid: gap 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(105, 4, 4);
  padding: 5px 10px;
  border-radius: 10px;
  
}

.icon {
  font-size: 35px;
  color: #eee3e3;
}